@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a asp-controller="Order" asp-action="Checkout">
            <i class="medium material-icons">shopping_cart</i>
        </a>
    </li>
    <li>
        <span>
            @Model.ShoppingCart.ShoppingCartItems.Count
        </span>
    </li>
}
