@model HomeWork_20.Models.UserRegistration

@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="LoginProp"></label><br />
        <input asp-for="LoginProp" />
        <span asp-validation-for="LoginProp"></span>
    </div>

    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label><br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" class="btn btn-primary mx-1" />
    </div>
</form>
